/* Denna fil skall innehålla din CSS kod */
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.GridWrapper {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    
    grid-template-areas: 
    'he he he'
    'a1 a1 a1'
    'a2 a3 a3'
    'a4 a4 a4'
    'fo fo fo'
    ;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;

    grid-gap: 1px;

}
a {
    color: Black;
    list-style: none;
    text-decoration: none;
  }

  a:hover {
    color: rgb(48, 47, 47);
  }
  
.article1 {
    grid-area: a1;
    background-color: whitesmoke;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding: 0;
    
}
.aside {
    grid-area: as;
    background-color: whitesmoke;
}

.article2 {
    grid-area: a2;
    background-color: whitesmoke;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
}
.article3 {
    grid-area: a3;
    background-color: whitesmoke;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.article4 {
    grid-area: a4;
    background-color: whitesmoke;
    font-family: 'Fira Sans Condensed', sans-serif;
}
/*.header{
    grid-area: he;
    background-color: lightgray;
    text-align: center;
    
}*/
.footer {
    grid-area: fo;
    background-color: rgb(88, 196, 133);
    text-align: center;
    padding-top: 2%;
    font-family: 'Fira Sans Condensed', sans-serif;
}
nav {
    grid-area: he;
    width:100%;
    margin:auto;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    /*height: 10vh;*/
    background-color: rgb(88, 196, 133);
    font-family: sans-serif;
    text-align: center;
    
}

#rubrik {

    margin: auto;
    padding-left: -15%;
   /* -webkit-text-stroke: 0.5px black; */
    width:400px;
    display: block;
    color: black;
    font-family: 'Righteous', cursive;
    font-size: 50px;
}

.nav div {
    display: flex;
}
.article1 {
    grid-area: a1;

}
.article2 {
    grid-area: a2;
    
}
p {
    padding: 2%;
}
.article3 {
    grid-area: a3;
    
}
.article4 {
    grid-area: a4;
    
}
.burger{
    /*width:300px;*/
   margin-right:10px;
   position: absolute;
   top:10px;
   right:10px;
    display: block;
    cursor: pointer;
    
    /*right: 50px;*/
    
    /*top: 60px;*/
    
  
}


.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 60vh;
    top: -85vh;
    background-color: rgb(88, 196, 133);
    align-items: center;
    width: 10%;
    transition: all 1s;
    font-family: 'Righteous', cursive;
}
.navLinks li{
    list-style: none;
}
.navLinks a{
    color: black;
    /*text-decoration: none;*/
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 25px;
}
.navLinks a:hover {
    color: rgb(48, 47, 47);
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;

}
.burger div:hover{
    
    background-color: rgb(51, 51, 51);
    
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px); 
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
    transform: translateY(100vh);
}

@media screen and (max-width:700px) {
    .navLinks a{
        letter-spacing: 1px;
        font-size: 19px;
    }
    .navLinks {
        width: 40%;
        height: 70vh;
        top: -91vh;
    }
}
/*nav {
    eight: 15vh;


}*/


@media screen and (min-width:700px) {
   /* nav {
        height: 15vh;
        
    }*/
    .burger div{
        width: 50px;
        height: 6px;
        /*background-color: black;*/
        margin: 3px;
        border-radius: 20%;
        transition: all 0.3s;
    }    
    .navLinks a{
        color: black;
        text-decoration: none;
        letter-spacing: 5px;
        font-weight: bold;
        font-size: 30px;
    }
    .navLinks {
        width: 30%;
    }

}
@media screen and (min-width:1250px) {
    .navLinks {
        width: 20%;
    }
    .navLinks a{
        font-size: 25px;
    }
}